html, body {
  padding: 0;
  margin: 0;
}

canvas {
  display: block;
  position: relative;
  margin: auto;
  border-radius: 40px 20px 30px 30px;
  border-style: groove;
  border-color: ;
}

header {
  position: relative;
  margin: auto;
  padding-top: 50px;
  width: 1024px;
  color: #000;
}

.title {
  margin-top: 10px;
  font-size: 90px;
  text-align: center;
}

.Balsamiq {
  font-family: "Balsamiq Sans", cursive;
}

.Castoro {
  font-family: "Castoro", serif;
}

.Courgette {
  font-family: "Courgette", cursive;
}

.Texturina {
  font-family: "Texturina", serif;
}

.cell .row .grid {
  border-color: #E2EEED;
}

.cell {
  display: inline-block;
  text-align: center;
  float: left;
  padding: 10px;
  margin-right: 5px;
}
.cell:last-child {
  margin: 0;
}

.row {
  display: block;
  margin-bottom: 5px;
}
.row:last-child {
  margin: 0;
}


.grid {
  display: block;
  border-radius: 10px;
  border-width: 5px;
}

#socials {
  border-width: 5px;
  border-radius: 2px;
  border-color: #272727;
  background-color: #AAAAAA;
  grid-template-columns: ;
  font-size: 6px;
  font-family: "Texturina", serif;
}

#topNav {
  z-index: 2;
  font-family: "Castoro", serif;
  grid-column: ;
}

.background {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: ;
  background: #D7D4B0;;
}

.normalBorder {
  border-color: #222;
  border-width: 5px;
  border-radius: 10px;
  border-style: solid;
}

.Page {
  background-color: #DFDFDF;
  background-image: ;
}

#Desktop {
  background-image: ;
  font-family: "Arial", Sans-serif;
}

#Terminal {
  background-color: #222;
  color: #D7D4B0;
}
